.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
  gap: 10px;
  margin-top: 40px;
}

.key-row {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.key-block {
  width: 45px;
  height: 55px;
  background-color: rgb(229, 229, 229);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.key-block-01 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(229, 229, 229);
  width: 80px;
  height: 55px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.key-block-01 img {
  width: 40px;
  cursor: pointer;
}
